* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_static {
  padding: 100px 20px;
  line-height: 30px;
}

.container_nav .navright,
.container_nav .navleft {
  float: left;
  height: 100%;
}

.container_nav {
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: white;
  position: fixed;
  z-index: 2;
}

.container_nav .navleft {
  width: 30%;
}

.container_nav .navleft img {
  height: 100%;
}

.container_nav .navright {
  width: 70%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.container_nav .navright li {
  display: inline-block;
  margin-left: 50px;
  text-transform: uppercase;
  font-size: 14px;
}

.container_nav .navright li a {
  text-decoration: none;
  font-family: sans-serif;
  color: #1b3c59;
  padding: 10px;
}

.container_nav .navright li a:hover {
  border-bottom: 2px solid #61ce4e;
}

.container_nav .navright li:last-child a {
  background-color: orange;
}

.container_nav .navright li:last-child a:hover {
  border-bottom: 0;
}

.container {
  position: relative;
}

.container .riquadro_green {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 300px;
  background-color: #61ce4e;
  z-index: -1;
}

.container .riquadro_green.ruotato {
  height: 133%;
  right: 140px;
  width: 485px;
  -webkit-transform: rotate(23deg);
          transform: rotate(23deg);
}

.container .container_home {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
}

.container .container_home .left {
  width: 40%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.container .container_home .left h1 {
  font-weight: 400;
  font-size: 55px;
  line-height: 60px;
  color: #61ce4e;
  margin-bottom: 20px;
}

.container .container_home .left p {
  font-size: 18px;
  line-height: 30px;
}

.container .container_home .right {
  width: 60%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.container .container_home .right img {
  width: 80%;
  margin-left: 50px;
}

.container_footer {
  width: 80%;
  margin: 0 auto;
  height: 300px;
  display: -webkit-box;
  display: flex;
  background-color: white;
}

.container_footer .colonna {
  width: 25%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.container_footer .colonna img {
  width: 100%;
}

.container_footer .colonna li {
  list-style: none;
}

.container_footer .colonna li a {
  color: #1b3c59;
  font-size: 13px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.container_footer .colonna i {
  color: #1b3c59;
  font-size: 25px;
  margin-left: 10px;
}

