.container_footer {
  width: $width_common;
  margin: 0 auto;
  height: 300px;
  display: flex;
  background-color: white;

  .colonna {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    // Logo
    img {
      width: 100%;
    }

    li {
      list-style: none;

      // Link
      a {
        color: $text_color;
        font-size: 13px;
        text-decoration: none;
        font-family: $link_text_font;
        font-weight: 400;
        line-height: 1.5;
      }
    }

    // Icons
    i {
      color: $text_color;
      font-size: 25px;
      margin-left: 10px;
    }
  }
}
