.container {
  position: relative;

  .green {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: green;
    z-index: -1;
  }

  .due {
    height: 133%;
    right: 140px;
    width: 485px;
    transform: rotate(23deg);
  }

  .container-main {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    display: flex;

    .left {
      width: 40%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .right {
      width: 60%;
      display: flex;
      align-items: center;

      img {
        width: 80%;
        margin-left: 50px;
      }
    }
  }


}
